### 1. Simple Number Triangle Pattern

In [2]:
for i in range(1, 6):
    print(f"{str(i) * i}")

1
22
333
4444
55555

### 2. Inverted Pyramid of Numbers

In [3]:
for i in range(1, 6):
    print(f"{' ' * (i - 1)}{(str(i) + ' ') * (6 - i)}")

1 1 1 1 1
 2 2 2 2
  3 3 3
   4 4
    5

### 3. Pyramid Pattern of Numbers

In [4]:
for i in range(1, 6):
    print(f"{' ' * (5 - i)}{' '.join(str(j) for j in range(1, i + 1))}")

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

### 4. Inverted Pyramid of Descending Numbers

In [5]:
for i in range(5, 0, -1):
    print(f"{' ' * (5 - i)}{(str(i) + ' ') * i}")

5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

### 5. Inverted Pyramid of the Same Digit

In [6]:
for i in range(5, 0, -1):
    print(f"{' ' * (5 - i)}{(str(5) + ' ') * i}")

5 5 5 5 5
 5 5 5 5
  5 5 5
   5 5
    5

### 6. Reverse Pyramid of Numbers

In [7]:
for i in range(1, 6):
    print(f"{' ' * (5 - i)}{' '.join(str(j) for j in range(i, 0, -1))}")

    1
   2 1
  3 2 1
 4 3 2 1
5 4 3 2 1

### 7. Inverted Half Pyramid Number Pattern

In [8]:
for i in range(6, 0, -1):
    print(' '.join(str(j) for j in range(6 - i + 1)))

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

### 8. Half Pyramid of Natural Numbers Less Than 10

In [9]:
n, k = 1, 1
for i in range(1, 4):
    print(' '.join(str(n + j) for j in range(k)))
    n += k
    k += 2

1
2 3 4
5 6 7 8 9

### 9. Reverse Pattern of Digits from 10

In [10]:
n = 1
for i in range(1, 5):
    print(' '.join(str(n + j) for j in range(i))[::-1])
    n += i

1
3 2
6 5 4
01 9 8 7

### 10. Unique Pyramid Pattern of Digits

In [11]:
for i in range(1, 6):
    print(' '.join(str(j) for j in range(1, i + 1)) + ' '.join(str(j) for j in range(i - 1, 0, -1)))

1
1 21
1 2 32 1
1 2 3 43 2 1
1 2 3 4 54 3 2 1

### 11. Connected Inverted Pyramid Pattern of Numbers

In [12]:
for i in range(5, 0, -1):
    print(' '.join(str(j) for j in range(5, 0, -1))[:5-i+1] + ''.join(str(j) for j in range(1, i + 1)))

512345
5 1234
5 4123
5 4 12
5 4 31

### 12. Even Number Half Pyramid Pattern

In [13]:
for i in range(1, 6):
    print(' '.join(str(2 * (5 - j)) for j in range(i)))

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

### 13. Half Pyramid of Horizontal Tables

In [14]:
for i in range(7):
    print(' '.join(str(i * j) for j in range(i + 1)))

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36

### 14. Half Pyramid Pattern of Alternate Numbers

In [15]:
for i in range(1, 6):
    print(' '.join(str(2 * i - 1) for _ in range(i)))

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

### 15. Mirrored Pyramid (Right-angled Triangle) Pattern of Numbers

In [16]:
for i in range(1, 6):
    print(f"{' ' * (5 - i)}{' '.join(str(j) for j in range(1, i + 1))}")

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

### 16. Equilateral Triangle with Stars

In [17]:
for i in range(1, 8):
    print(f"{' ' * (7 - i)}{' *' * i}")

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

### 17. Downward Triangle Pattern of Stars

In [18]:
for i in range(6, 0, -1):
    print(f"{' ' * (6 - i)}{'* ' * i}")

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

### 18. Half Pyramid Pattern of Stars

In [19]:
for i in range(1, 6):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

### 2A. Separate String into Comma-separated Values

In [ ]:
X = "India.is.my.country"
print(X.replace('.', ','))

### 2B. Remove a Given Character from a String

In [ ]:
Y = "M.A.N.I.P.A.L"
print(Y.replace('.', ''))

### 2C. Remove Dots from the Above String

In [ ]:
Y = "M.A.N.I.P.A.L"
print(Y.replace('.', ''))

### 3. Sort Strings Alphabetically

In [ ]:
strings = input("Enter strings separated by spaces: ").split()
print(' '.join(sorted(strings)))

### 4. Reverse a String Input by User

In [ ]:
string = input("Enter a string: ")
print(string[::-1])

### 5. Check if a String Contains Only Digits

In [ ]:
string = input("Enter a string: ")
print("Contains only digits." if string.isdigit() else "Contains non-digit characters.")

### 6. Count the Number of Vowels in a String

In [ ]:
string = input("Enter a string: ")
print(sum(1 for char in string.lower() if char in 'aeiou'))